.titulo {
  text-align: center;
  margin-top: 20px;
}

.form-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

form input, form select, form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: inherit;
}

form button {
  background-color: #006d8f;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0189b3;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
